body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/*-- header -- */

#header_container {
    margin: 50px;
}

h1 {
    margin-top: 50px;
    font-size: 1.4em;
}

h2 {
    font-size: 1em;
    font-weight: lighter;
}

#navbar_container {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 0.9em;
    margin-left: 40px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: transparent;
}

#register {
    color: #0065FC;
    font-weight: bold;
}

.nav_link:hover {
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 48px;  
}

#search {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}


#position {
    background-color: #F2F2F2;
    border-radius: 13px 0px 0px 13px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#champ_recherche {
    border: 1px #F2F2F2 solid;
    width: 260px;
    height: 45px;
    font-size: 1em;
    font-weight: bold;
}

#search_button {
    color: white;
    background-color: #0065FC;
    border-radius: 0px 13px 13px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 45px;
}

#rechercher {
    color: white;
    margin: 10px;
}

#loupe {
    display: none;
}

#filtres {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

#filtres ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1em;
    width: 70%;
}

#filtres p {
    padding-bottom: 5px;
    font-weight: bold;
}

#filtres li {
    border: 2px #F2F2F2 solid;
    position: relative;
    border-radius: 50px;
    height: 48px;
    padding-left: 60px;
    padding-right: 27px;
    font-weight: bold;
    align-items: center;
    display: flex;
    cursor: pointer;
}

li:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}

#filtres li i {
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute;
    border-radius: 50%;
    top:-2px;
    left:-1px;
    height: 47px;
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon_info {
    height: 25px;
    width: 25px;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 0px;
}

#info {
    display: flex;
    align-items: baseline;
}

header p {
    font-size: 0.9em;
}

/*-- aside --*/

.carte_aside {  
    display: flex;
    background-color: white;   
    border-radius: 20px;
    box-shadow: 0px 0px 9px #D8D8D8;
    padding: 5px;
    width: 380px;
    margin-bottom: 30px;
}

aside {
    float: right;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 50px;
    width: 30%;
}

#aside_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-weight: 900;
}

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#icon_populaire {
    height: 16px;
    width: 16px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    margin-right: 50px;
    margin-top: 45px;
}

#aside_container {
    display: flex;
    flex-direction: column;
    height: 529px;
    align-items: center; 
}

aside img {
    height: 140px;
    width: 160px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.description_aside {
    display: flex;
    flex-direction: column;
    font-size: 1.05em;
    justify-content: space-between;
    margin-left: 25px;
}



/*-- Article --*/

article {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 900;
    margin-left: 30px;
}

#article_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 450px;
}

.carte_article {
    border-radius: 20px;
    width: 240px;
    box-shadow: 0px 0px 9px #D8D8D8;
    background-color: white;
    padding: 5px;
}

.description_article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15px;
}

.img_article {
    object-fit: cover;
    height: 110px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.star {
    color: #0065FC;
}

.no_star {
    color: #d9d9d9;
}

.lieu {
    font-size: 1.05em;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 0px;        
}

.tarif {
    font-size: 0.9em;
    margin-top: 4px;
}

#more {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

/*-- activités --*/

h5 {
    font-weight: 900;
    font-size: 1.2em;
}

#activites_container {
    flex-flow: column wrap;
    display: flex;
    justify-content: space-between;
    height: 600px;
}

#activites {
   margin-left: 50px;
   margin-right: 10px;
   margin-top: 50px;
}

.carte_activites {
    width: 22%;
    box-shadow: 0px 0px 9px #D8D8D8;
    border-radius: 20px;
    margin-right: 20px;
}

.description_activites {
    font-weight: 900;
    margin-left: 20px;
}

.carte_activites img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#img_activites_1, #img_activites_4 {
    height: 545px;    
}

#img_activites_2 {
    height: 310px;
}

#img_activites_3 {
    height: 150px;
}

#img_activites_5, #img_activites_6 {
    height: 230px;
} 

/*-- footer--*/

footer {
    background-color: #F2F2F2;
    margin-top: 50px;
}

#menu_footer {
    padding-top: 34px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 70%;
}

.footer_nav {
    display: flex;
    flex-direction: column; 
}

.footer_nav a {
    padding-bottom: 10px;
}

footer p {
    font-weight: bold;
}

@media screen and (max-width: 1280px) {

    #filtres ul {
        width: auto;
    }

    li {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .carte_aside {
        flex-direction: column;
        width: 200px;
    }

    #aside_container {
        height: 800px;
    }

    #aside_title {
        margin-bottom: 27px;
    }

    aside img {
        height: 120px;
        width: 190px;
        border-radius: 20px 20px 0px 0px;
    }

    #article_container {
        align-content: space-around;
        flex-direction: column;
        height: 750px;
    }
}

    @media screen and (max-width: 1024px) {

        #filtres ul {
            justify-content: flex-start;
        }

        aside {
            float: none;
            margin-right: 0px;
            width: auto;
            border-radius: 0px;
        }

        #aside_container {
            height: auto;
        }

        .carte_aside {
            flex-direction: row;
            width: 600px;
        }

        h3 {
            margin-left: 50px;
            margin-right: 50px;
        }

        aside img {
            height: 170px;
            width: 280px;
            border-radius: 20px 0px 0px 20px;
        }

        article {
            width: auto;
            margin-left: 0px;
            border-radius: 0px;
            background-color: white;
        }

        h4 {
            margin-left: 50px;
        }

        #more {
            margin-left: 50px;
        }
        
        #activites_container {
            flex-direction: row;
            height: auto;
            margin-right: 50px;
        }
        
        .carte_activites {
            width: 40%;   
            margin-bottom: 40px;
            margin-right: 0px;
        }

        #activites img {
            height: 400px;
        }

        #menu_footer {
            width: auto;
            margin-right: 50px;
        }

        @media screen and (max-width: 640px) {
            
        #header_container {
            margin-left: 0px;
            margin-right: 0px;
        }

        #navbar_container {
            flex-direction: column;
        }

        #navbar_container img {
            margin-left: 20px;
            height: 45px;
            width: 97px;
        }

        nav {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            text-align: center;
        }

        #register {
            position: absolute;
            right: 0px;
            top: 70px;
            margin-right: 20px;
        }
        
        .nav_link {
            margin: 0px;
            border-bottom: 2px #D8D8D8 solid;
            width: 100%;
            padding-bottom: 10px;
        }

        #register:hover {
            border: none;
        }

        .nav_link:hover {
            color: #0065FC;
            border-bottom: 2px #0065FC solid;
            border-top: none;
            padding-top: 0px;
        }

        h1, h2 {
            margin-left: 20px;
        }

        #search {
            margin-left: 20px;
            margin-top: 30px;
        }
        
        #search_button {
            border-radius: 13px 13px 13px 13px;
            margin-left: -7px;            
        }

        #rechercher {
            display: none;
        }
        
        #loupe {
            display: inline;
            margin: 15px;
        }

        #filtres {
            flex-direction: column;
            align-items: flex-start;
        }

        #filtres ul {
            padding: 0px;
            margin-left: 10px;
        }

        #filtres p {
            margin-left: 20px;
        }

        #icon_info {
            margin-left: 20px;
        }

        .carte_aside {
            width: 350px;
            height: 150px;
        }

        aside img {
            width: 150px;
            height: 140px;
        }

        h3 {
            margin-left: 20px;
        }

        h4 {
            margin-left: 20px;
        }

        #article_container {
            height: auto;
        }

        .carte_article {
            width: 350px;
            margin-bottom: 20px;
        }

        #more {
            margin-left: 20px;
        }

        #activites {
            margin: 20px;
        }

        #activites_container {
            flex-direction: column;
            align-content: center;
            margin-right: 0px;
        }

        #activites img {
            height: 150px;
            width: 350px;
            margin-right: 0px;
        }

        .carte_activites {
            width: 350px;
            margin-right: 0px;
        }

        #menu_footer {
            flex-direction: column;
            margin-left: 20px;
        }
    }
}