body, html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
#entete {
    margin: 50px;
}
h1 {
    margin-top: 50px;
    font-size: 1.4em;
    font-weight: bolder;
}
h2 {
    font-size: 1em;
    font-weight: lighter;
    
}

#navbar_container {
    display: flex;
    justify-content: space-between;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: transparent;
}

nav a {
    margin-left: 60px;
    color: black;
}

#register {
    color: #0065FC;
    font-weight: bold;
}
#navbar_container a:hover {
    color: #0065FC;
    text-decoration: overline; 
}

#position {
    background-color: #F2F2F2;
    border-radius: 13px 0px 0px 13px;
    margin-right: -5px;
    height: 45px;
    width: 55px;
    padding-top: 14px;
    padding-left: 22px;
    cursor: pointer;
}

#champ_recherche {
    padding-bottom: 9px;
    padding-top: 9.1px;;
    border: 1px #F2F2F2 solid;
    width: 220px;
    height: 45px;
}

#button {
    color: white;
    background-color: #0065FC;
    border-radius: 0px 13px 13px 0px;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: bold;
    height: 45px;
    width: 135px;
    margin-left: -5px;
    padding-bottom: 2px;
}

#filtres ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 70%;
    margin-left: -40px;
}

ul p {
    margin-bottom: 0.5px;
    font-weight: bold;
}

#filtres li {
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
    position: ;
    height: 40px;
    text-align: right;
    padding-left: 50px;
    padding-right: 13px;
    padding-top: 9px;
    font-weight: bold;
}

li:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}

#filter_icons {
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    text-align: center;
    padding-top: 10px;
}

#filtres a {
    display: flex;
}

#icon {
    height: 25px;
    width: 25px;
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
}

header p {
    font-size: 0.9em;
}

.img_article {
    object-fit: cover;
    height: 188px;
    width: 235px;
}
#star {
    color: yellow;
}
#cartes_article {
    display: flex;
}
#menu_footer {
    display: flex;
}
.footer_nav {
    display: flex;
    flex-direction: column;
}