body, html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
#entete {
    border: 1px solid black;
}
#navbar_container {
    display: flex;
    justify-content: space-between;
}
.img_article {
    object-fit: cover;
    height: 188px;
    width: 235px;
}
#star {
    color: yellow;
}
#cartes_article {
    display: flex;
}
#menu_footer {
    display: flex;
}
.footer_nav {
    display: flex;
    flex-direction: column;
}